.content-offset {
    padding-left: 150px;
    padding-top: 30px;
}

.full-screen {
    height: 100vh;
    width: 80%;
}

.point {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: rgb(231, 41, 218)
}

.guess-options {
    padding: 15px;
}

.lines {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.guess-me {
    width: 300px;
    height: 200px;
}

.colors-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colors-main {
    display: flex;
    justify-content: center;
}